body{background-color:#304858;}
  .card{
    background-color: #304858;
    border:1px solid #aaa;
    border-radius: 3px;
    border-bottom: none;
    margin-top: 10px;
    box-shadow: 0px -1px 1px #cfcfcf;
  }
  h1{font-size: 16px;font-weight: bolder;background-color: rgba(48,72,88,0.1);padding: 6px 3px;border-radius: 3px;color: whitesmoke;text-align: center;}
  h2{font-size: 14px;font-weight: bold;color: #cfcfcf;padding:5px 3px;text-align: center;}
  p,li{font-size: 12px;font-family: courier;background-color:#cfcfcf;padding:5px 8px;margin-bottom: 1px;  }
  ul{padding:0;margin: 0;}
  ul li{list-style: none;padding-left: 30px;}
  .bold{font-weight: bold;font-size: 14px;margin-bottom: 2px;}
  .innerp{padding-left: 15px;}
  .note{font-size: 14px; font-weight: bolder;background-color: #00acf0;padding: 2px 3px; border-radius: 3px;color: #000;}
  table{background-color: #cfcfcf; }

  td {
      text-align:center;
      vertical-align:middle;
  }