.container a{text-decoration: none;padding: 1px 4px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {border-top:none;border-bottom: 1px solid #f5f5f5;}
.panel-body{padding:2px;}
.panel-heading h4 a{text-align: center;}
.panel-heading{text-align: center; font-weight: bold;font-size: 18px;}
.panel-body{color: #555555;padding: 8px 18px;}
.panel-body{font-size: 16px;}
.panel-body-center{text-align: center;}
.bold{font-weight: bold;font-size: 14px;margin-bottom: 2px;}

.cell_border{
  border-style: solid;
  border-color: black;
  margin:3px;
  }

 .bold{font-weight: bold;font-size: 14px;margin-bottom: 2px;}

.note{font-size: 14px; font-weight: bolder;background-color: #00acf0;padding: 2px 3px; border-radius: 3px;color: #000;}
  table{background-color: #cfcfcf; }


.cell_border{
  border-style: solid;
  border-color: black;
  margin:2px;
  }
