body{
        background-color:#cfcfcf;
    }
  .card{
    border:1px solid #aaa;
    border-radius: 3px;
    border-bottom: none;
    margin: 7px;
    box-shadow: 0px -1px 1px 1px #cfcfcf;
    padding:5px;
  }

  .cell_border{
  border-style: solid;
  border-color: black;
  margin:10px;
  }

  .main_container{
  padding:2px;
  }

  div{
  margin: 2px;
  }